<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>RComet demo: chat client</title>
		<link rel="stylesheet" href="/static/style.css" type="text/css" media="screen">
    <script language="JavaScript" type="text/javascript" src="/static/dojo/dojo/dojo.js" charset="utf-8" djConfig="parseOnLoad: true"></script>

    <script language="JavaScript" type="text/javascript">
      dojo.require("dojox.cometd");
			dojo.require("dojo.fx");
			
      var comet = dojox.cometd;
			comet.init("http://<%= @ip %>:8990");
			
			var message = {
				publish : function(msg) {
					current = dojo.byId("stream").innerHTML 
					dojo.byId("stream").innerHTML = "<li><b>"+msg.data.username+"</b>: "+msg.data.message+"</li>"+current;
				}
			}			
    </script>

  </head>
  <body>
		<div class="container">

		  <h1><em>Soapbox</em> | a Twitter-style chat app</h1>

		  <!-- <form id="enterUsername" onSubmit="return login();"> -->
			<div id="login">
				<form id="enterUsername">
		    	<label for="username">Pick a username</label>
		    	<input type="text" name="username" id="username">
		    	<input type="submit" value="Go">
		  	</form>
			</div>

		  <div id="app">
		    <!-- <form id="addFollowee" onSubmit="return follow();"> -->
				<form id="addFollowee">
		      <label for="followee">Follow</label>
		      <input type="text" name="followee" id="followee">
		      <input type="submit" value="Go">
		    </form>

		    <form id="postMessage">
		      <label for="message">Post a message</label><br>
		      <textarea name="message" id="message" rows="3" cols="40"></textarea>
		      <!-- <input type="button" value="Go" onClick="javascript:send();"> -->
					<input type="submit" value="Send">
		    </form>

		    <ul id="stream">
		    </ul>
		  </div>
		</div>
    <script language="JavaScript" type="text/javascript">
			var username = null;
			dojo.connect(dojo.byId("enterUsername"), "onsubmit", function(evt) {
				evt.preventDefault();
				dojo.stopEvent(evt);
				username = dojo.byId("username").value;
				comet.publish( '/login', username );
				
				dojo.fadeOut({node:dojo.byId("enterUsername")}).play( );
				dojo.animateProperty({ 
					node: dojo.byId("login"),
					properties: { height: { end: 0 } } 
				}).play( );
				return false;
			})
			
			var addFolloweeForm = dojo.byId("addFollowee");
			dojo.connect(addFolloweeForm, "onsubmit", function(evt) {
				evt.preventDefault();
				dojo.stopEvent(evt);
				followee = dojo.byId("followee").value;
				comet.subscribe( '/from/'+followee, message, "publish" );
				return false;
			})
			
			var postMessageForm = dojo.byId("postMessage");
			dojo.connect(postMessageForm, "onsubmit", function(evt) {
				evt.preventDefault();
				dojo.stopEvent(evt);
				message = dojo.byId("message").value;
				comet.publish( '/from/'+username, { "username":username, "message":message } );
				return false;
			})		
		</script>
  </body>
</html>
